<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DVTConsoleDebuggerInputTextColor</key>
	<string>{{base0B-dec-r}} {{base0B-dec-g}} {{base0B-dec-b}} 1</string>
	<key>DVTConsoleDebuggerInputTextFont</key>
	<string>{{font-mono}} - {{font-size}}</string>
	<key>DVTConsoleDebuggerOutputTextColor</key>
	<string>{{base06-dec-r}} {{base06-dec-g}} {{base06-dec-b}} 1</string>
	<key>DVTConsoleDebuggerOutputTextFont</key>
	<string>{{font-mono}} - {{font-size}}</string>
	<key>DVTConsoleDebuggerPromptTextColor</key>
	<string>{{base06-dec-r}} {{base06-dec-g}} {{base06-dec-b}} 1</string>
	<key>DVTConsoleDebuggerPromptTextFont</key>
	<string>{{font-mono-bold}} - {{font-size}}</string>
	<key>DVTConsoleExectuableInputTextColor</key>
	<string>{{base0B-dec-r}} {{base0B-dec-g}} {{base0B-dec-b}} 1</string>
	<key>DVTConsoleExectuableInputTextFont</key>
	<string>{{font-mono}} - {{font-size}}</string>
	<key>DVTConsoleExectuableOutputTextColor</key>
	<string>{{base06-dec-r}} {{base06-dec-g}} {{base06-dec-b}} 1</string>
	<key>DVTConsoleExectuableOutputTextFont</key>
	<string>{{font-mono}} - {{font-size}}</string>
	<key>DVTConsoleTextBackgroundColor</key>
	<string>{{base00-dec-r}} {{base00-dec-g}} {{base00-dec-b}} 1</string>
	<key>DVTConsoleTextInsertionPointColor</key>
	<string>{{base05-dec-r}} {{base05-dec-g}} {{base05-dec-b}} 1</string>
	<key>DVTConsoleTextSelectionColor</key>
	<string>{{base02-dec-r}} {{base02-dec-g}} {{base02-dec-b}} 1</string>
	<key>DVTFontAndColorVersion</key>
	<integer>1</integer>
	<key>DVTLineSpacing</key>
	<real>{{line-spacing}}</real>
	<key>DVTMarkupTextBackgroundColor</key>
	<string>{{base00-dec-r}} {{base00-dec-g}} {{base00-dec-b}} 1</string>
	<key>DVTMarkupTextBorderColor</key>
	<string>{{base03-dec-r}} {{base03-dec-g}} {{base03-dec-b}} 1</string>
	<key>DVTMarkupTextCodeFont</key>
	<string>{{font-mono}} - {{font-size-small}}</string>
	<key>DVTMarkupTextEmphasisColor</key>
	<string>{{base05-dec-r}} {{base05-dec-g}} {{base05-dec-b}} 1</string>
	<key>DVTMarkupTextEmphasisFont</key>
	<string>{{font-sans-italic}} - {{font-size-small}}</string>
	<key>DVTMarkupTextInlineCodeColor</key>
	<string>{{base05-dec-r}} {{base05-dec-g}} {{base05-dec-b}} 1</string>
	<key>DVTMarkupTextLinkColor</key>
	<string>{{base08-dec-r}} {{base08-dec-g}} {{base08-dec-b}} 1</string>
	<key>DVTMarkupTextLinkFont</key>
	<string>{{font-sans}} - {{font-size-small}}</string>
	<key>DVTMarkupTextNormalColor</key>
	<string>{{base05-dec-r}} {{base05-dec-g}} {{base05-dec-b}} 1</string>
	<key>DVTMarkupTextNormalFont</key>
	<string>{{font-sans}} - {{font-size-small}}</string>
	<key>DVTMarkupTextOtherHeadingColor</key>
	<string>{{base0D-dec-r}} {{base0D-dec-g}} {{base0D-dec-b}} 1</string>
	<key>DVTMarkupTextOtherHeadingFont</key>
	<string>{{font-sans}} - {{font-size-h3}}</string>
	<key>DVTMarkupTextPrimaryHeadingColor</key>
	<string>{{base0D-dec-r}} {{base0D-dec-g}} {{base0D-dec-b}} 1</string>
	<key>DVTMarkupTextPrimaryHeadingFont</key>
	<string>{{font-sans}} - {{font-size-h1}}</string>
	<key>DVTMarkupTextSecondaryHeadingColor</key>
	<string>{{base0D-dec-r}} {{base0D-dec-g}} {{base0D-dec-b}} 1</string>
	<key>DVTMarkupTextSecondaryHeadingFont</key>
	<string>{{font-sans}} - {{font-size-h2}}</string>
	<key>DVTMarkupTextStrongColor</key>
	<string>{{base05-dec-r}} {{base05-dec-g}} {{base05-dec-b}} 1</string>
	<key>DVTMarkupTextStrongFont</key>
	<string>{{font-sans-bold}} - {{font-size-small}}</string>
	<key>DVTScrollbarMarkerAnalyzerColor</key>
	<string>{{base0A-dec-r}} {{base0A-dec-g}} {{base0A-dec-b}} 1</string>
	<key>DVTScrollbarMarkerBreakpointColor</key>
	<string>{{base09-dec-r}} {{base09-dec-g}} {{base09-dec-b}} 1</string>
	<key>DVTScrollbarMarkerDiffColor</key>
	<string>{{base0D-dec-r}} {{base0D-dec-g}} {{base0D-dec-b}} 1</string>
	<key>DVTScrollbarMarkerDiffConflictColor</key>
	<string>{{base0B-dec-r}} {{base0B-dec-g}} {{base0B-dec-b}} 1</string>
	<key>DVTScrollbarMarkerErrorColor</key>
	<string>{{base0B-dec-r}} {{base0B-dec-g}} {{base0B-dec-b}} 1</string>
	<key>DVTScrollbarMarkerRuntimeIssueColor</key>
	<string>{{base09-dec-r}} {{base09-dec-g}} {{base09-dec-b}} 1</string>
	<key>DVTScrollbarMarkerWarningColor</key>
	<string>{{base0C-dec-r}} {{base0C-dec-g}} {{base0C-dec-b}} 1</string>
	<key>DVTSourceTextBackground</key>
	<string>{{base00-dec-r}} {{base00-dec-g}} {{base00-dec-b}} 1</string>
	<key>DVTSourceTextBlockDimBackgroundColor</key>
	<string>{{base02-dec-r}} {{base02-dec-g}} {{base02-dec-b}} 1</string>
	<key>DVTSourceTextCurrentLineHighlightColor</key>
	<string>{{base01-dec-r}} {{base01-dec-g}} {{base01-dec-b}} 1</string>
	<key>DVTSourceTextInsertionPointColor</key>
	<string>{{base05-dec-r}} {{base05-dec-g}} {{base05-dec-b}} 1</string>
	<key>DVTSourceTextInvisiblesColor</key>
	<string>{{base04-dec-r}} {{base04-dec-g}} {{base04-dec-b}} 1</string>
	<key>DVTSourceTextSelectionColor</key>
	<string>{{base02-dec-r}} {{base02-dec-g}} {{base02-dec-b}} 1</string>
	<key>DVTSourceTextSyntaxColors</key>
	<dict>
		<key>xcode.syntax.attribute</key>
		<string>{{base09-dec-r}} {{base09-dec-g}} {{base09-dec-b}} 1</string>
		<key>xcode.syntax.character</key>
		<string>{{base09-dec-r}} {{base09-dec-g}} {{base09-dec-b}} 1</string>
		<key>xcode.syntax.comment</key>
		<string>{{base03-dec-r}} {{base03-dec-g}} {{base03-dec-b}} 1</string>
		<key>xcode.syntax.comment.doc</key>
		<string>{{base03-dec-r}} {{base03-dec-g}} {{base03-dec-b}} 1</string>
		<key>xcode.syntax.comment.doc.keyword</key>
		<string>{{base0E-dec-r}} {{base0E-dec-g}} {{base0E-dec-b}} 1</string>
		<key>xcode.syntax.declaration.other</key>
		<string>{{base0D-dec-r}} {{base0D-dec-g}} {{base0D-dec-b}} 1</string>
		<key>xcode.syntax.declaration.type</key>
		<string>{{base0A-dec-r}} {{base0A-dec-g}} {{base0A-dec-b}} 1</string>
		<key>xcode.syntax.identifier.class</key>
		<string>{{base0A-dec-r}} {{base0A-dec-g}} {{base0A-dec-b}} 1</string>
		<key>xcode.syntax.identifier.class.system</key>
		<string>{{base0A-dec-r}} {{base0A-dec-g}} {{base0A-dec-b}} 1</string>
		<key>xcode.syntax.identifier.constant</key>
		<string>{{base09-dec-r}} {{base09-dec-g}} {{base09-dec-b}} 1</string>
		<key>xcode.syntax.identifier.constant.system</key>
		<string>{{base09-dec-r}} {{base09-dec-g}} {{base09-dec-b}} 1</string>
		<key>xcode.syntax.identifier.function</key>
		<string>{{base0D-dec-r}} {{base0D-dec-g}} {{base0D-dec-b}} 1</string>
		<key>xcode.syntax.identifier.function.system</key>
		<string>{{base0D-dec-r}} {{base0D-dec-g}} {{base0D-dec-b}} 1</string>
		<key>xcode.syntax.identifier.macro</key>
		<string>{{base0C-dec-r}} {{base0C-dec-g}} {{base0C-dec-b}} 1</string>
		<key>xcode.syntax.identifier.macro.system</key>
		<string>{{base0C-dec-r}} {{base0C-dec-g}} {{base0C-dec-b}} 1</string>
		<key>xcode.syntax.identifier.type</key>
		<string>{{base0A-dec-r}} {{base0A-dec-g}} {{base0A-dec-b}} 1</string>
		<key>xcode.syntax.identifier.type.system</key>
		<string>{{base0A-dec-r}} {{base0A-dec-g}} {{base0A-dec-b}} 1</string>
		<key>xcode.syntax.identifier.variable</key>
		<string>{{base08-dec-r}} {{base08-dec-g}} {{base08-dec-b}} 1</string>
		<key>xcode.syntax.identifier.variable.system</key>
		<string>{{base08-dec-r}} {{base08-dec-g}} {{base08-dec-b}} 1</string>
		<key>xcode.syntax.keyword</key>
		<string>{{base0E-dec-r}} {{base0E-dec-g}} {{base0E-dec-b}} 1</string>
		<key>xcode.syntax.mark</key>
		<string>{{base0D-dec-r}} {{base0D-dec-g}} {{base0D-dec-b}} 1</string>
		<key>xcode.syntax.markup.code</key>
		<string>{{base03-dec-r}} {{base03-dec-g}} {{base03-dec-b}} 1</string>
		<key>xcode.syntax.number</key>
		<string>{{base09-dec-r}} {{base09-dec-g}} {{base09-dec-b}} 1</string>
		<key>xcode.syntax.plain</key>
		<string>{{base05-dec-r}} {{base05-dec-g}} {{base05-dec-b}} 1</string>
		<key>xcode.syntax.preprocessor</key>
		<string>{{base0C-dec-r}} {{base0C-dec-g}} {{base0C-dec-b}} 1</string>
		<key>xcode.syntax.regex</key>
		<string>{{base0B-dec-r}} {{base0B-dec-g}} {{base0B-dec-b}} 1</string>
		<key>xcode.syntax.regex.capturename</key>
		<string>{{base08-dec-r}} {{base08-dec-g}} {{base08-dec-b}} 1</string>
		<key>xcode.syntax.regex.charname</key>
		<string>{{base09-dec-r}} {{base09-dec-g}} {{base09-dec-b}} 1</string>
		<key>xcode.syntax.regex.number</key>
		<string>{{base0C-dec-r}} {{base0C-dec-g}} {{base0C-dec-b}} 1</string>
		<key>xcode.syntax.regex.other</key>
		<string>{{base0C-dec-r}} {{base0C-dec-g}} {{base0C-dec-b}} 1</string>
		<key>xcode.syntax.string</key>
		<string>{{base0B-dec-r}} {{base0B-dec-g}} {{base0B-dec-b}} 1</string>
		<key>xcode.syntax.url</key>
		<string>{{base09-dec-r}} {{base09-dec-g}} {{base09-dec-b}} 1</string>
	</dict>
	<key>DVTSourceTextSyntaxFonts</key>
	<dict>
		<key>xcode.syntax.attribute</key>
		<string>{{font-mono}} - {{font-size}}</string>
		<key>xcode.syntax.character</key>
		<string>{{font-mono}} - {{font-size}}</string>
		<key>xcode.syntax.comment</key>
		<string>{{font-mono}} - {{font-size}}</string>
		<key>xcode.syntax.comment.doc</key>
		<string>{{font-sans}} - {{font-size}}</string>
		<key>xcode.syntax.comment.doc.keyword</key>
		<string>{{font-mono-bold}} - {{font-size}}</string>
		<key>xcode.syntax.declaration.other</key>
		<string>{{font-mono}} - {{font-size}}</string>
		<key>xcode.syntax.declaration.type</key>
		<string>{{font-mono}} - {{font-size}}</string>
		<key>xcode.syntax.identifier.class</key>
		<string>{{font-mono}} - {{font-size}}</string>
		<key>xcode.syntax.identifier.class.system</key>
		<string>{{font-mono}} - {{font-size}}</string>
		<key>xcode.syntax.identifier.constant</key>
		<string>{{font-mono}} - {{font-size}}</string>
		<key>xcode.syntax.identifier.constant.system</key>
		<string>{{font-mono}} - {{font-size}}</string>
		<key>xcode.syntax.identifier.function</key>
		<string>{{font-mono}} - {{font-size}}</string>
		<key>xcode.syntax.identifier.function.system</key>
		<string>{{font-mono}} - {{font-size}}</string>
		<key>xcode.syntax.identifier.macro</key>
		<string>{{font-mono}} - {{font-size}}</string>
		<key>xcode.syntax.identifier.macro.system</key>
		<string>{{font-mono}} - {{font-size}}</string>
		<key>xcode.syntax.identifier.type</key>
		<string>{{font-mono}} - {{font-size}}</string>
		<key>xcode.syntax.identifier.type.system</key>
		<string>{{font-mono}} - {{font-size}}</string>
		<key>xcode.syntax.identifier.variable</key>
		<string>{{font-mono}} - {{font-size}}</string>
		<key>xcode.syntax.identifier.variable.system</key>
		<string>{{font-mono}} - {{font-size}}</string>
		<key>xcode.syntax.keyword</key>
		<string>{{font-mono-semibold}} - {{font-size}}</string>
		<key>xcode.syntax.mark</key>
		<string>{{font-mono-bold}} - {{font-size}}</string>
		<key>xcode.syntax.markup.code</key>
		<string>{{font-mono}} - {{font-size}}</string>
		<key>xcode.syntax.number</key>
		<string>{{font-mono}} - {{font-size}}</string>
		<key>xcode.syntax.plain</key>
		<string>{{font-mono}} - {{font-size}}</string>
		<key>xcode.syntax.preprocessor</key>
		<string>{{font-mono}} - {{font-size}}</string>
		<key>xcode.syntax.regex</key>
		<string>{{font-mono}} - {{font-size}}</string>
		<key>xcode.syntax.regex.capturename</key>
		<string>{{font-mono}} - {{font-size}}</string>
		<key>xcode.syntax.regex.charname</key>
		<string>{{font-mono}} - {{font-size}}</string>
		<key>xcode.syntax.regex.number</key>
		<string>{{font-mono}} - {{font-size}}</string>
		<key>xcode.syntax.regex.other</key>
		<string>{{font-mono}} - {{font-size}}</string>
		<key>xcode.syntax.string</key>
		<string>{{font-mono}} - {{font-size}}</string>
		<key>xcode.syntax.url</key>
		<string>{{font-mono}} - {{font-size}}</string>
	</dict>
</dict>
</plist>
